
.cal{
	padding: 0;
	border-color: #FF00FF;
	/*border: solid;*/
	/*border-color: white; */
	background: #304644;
	/*border-color: red;*/
    color: #9E9199;
}

.cal td{
	font-size: 25px;
}

.cal td button{
	font-size: 25px;
}

.button td{
	width: 50px;
	height: 40px;
	text-align: center;
	font-weight: 900;
}

.screen td{
	height: 40px;
}

.button button{
	width: 100%;
	height: 100%;
}

button{
	background: #81A38F;
    color: #E7E2E4;
}

.number button{
	background: #4F6A59;
    color: #C6BDC2;
}